<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aermetric</title>
    <style>
        body {
            font-size: 15px;
        }
        .container{
            max-width: 850px;
            margin: 10px auto;
        }
        .title{
            font-size: 15px;
        }
        .btn {
            display: block;
            background: #029cdb;
            color: #fff;
            font-weight: 900;
            margin: 10px 0;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="card">
        <h3 class="title">Welcome to Aviation Aircraft metric !</h3>
    </div>
</div>
</body>
</html>